<div class="eqLogic eqLogic-widget #eqType# allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
	<link rel="stylesheet" href="plugins/brohter/data/css/brother.template.css"/>
    <center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
    <div>
        <div style="width: 50%; display:inline-block;"></div>
            <center>
                <figure style="width: 150px;margin-left: 5px;margin-top: 5px;margin-bottom: 5px;margin-right: 5px;">
                    <div id="ink-gauge-container"></div>                
                </figure>
            </center>
        </div>
        <div style="width: 50%; float: right;">
            test
        </div>
    </div>
    <script>
        if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}

        Highcharts.chart('ink-gauge-container', {
            credits: {enabled: false},
            exporting : {enabled: false},
            title: {text: null},
            tooltip: {enabled: false},

            chart: {
                type: 'solidgauge',
                backgroundColor: 'transaprent',
                height: '100%'
            },

            pane: {
                startAngle: 0,
                endAngle: 360,
                background: [
                { // Track for Black
                    outerRadius: '99%',
                    innerRadius: '84%',
                    backgroundColor: 'rgba(0,0,0,0.1)',
                    borderWidth: 0
                }, { // Track for Cyan
                    outerRadius: '83%',
                    innerRadius: '68%',
                    backgroundColor: 'rgba(0,0,0,0.1)',
                    borderWidth: 0
                }, { // Track for Magenta
                    outerRadius: '67%',
                    innerRadius: '52%',
                    backgroundColor: 'rgba(0,0,0,0.1)',
                    borderWidth: 0
                }, { // Track for Yellow
                    outerRadius: '51%',
                    innerRadius: '36%',
                    backgroundColor: 'rgba(0,0,0,0.1)',
                    borderWidth: 0
                }]
            },

            yAxis: {
                min: 0,
                max: 100,
                lineWidth: 0,
                tickPositions: []
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        enabled: false
                    },
                    linecap: 'round',
                    stickyTracking: false,
                    rounded: true
                }
            },

            series: [{
                name: 'Black',
                data: [{
                    color: 'black',
                    radius: '99%',
                    innerRadius: '84%',
                    y: #black_level#
                }]
            }, {
                name: 'Cyan',
                data: [{
                    color: 'cyan',
                    radius: '83%',
                    innerRadius: '68%',
                    y: #cyan_level#
                }]
            }, {
                name: 'Magenta',
                data: [{
                    color: 'magenta',
                    radius: '67%',
                    innerRadius: '52%',
                    y: #magenta_level#
                }]
            }, {
                name: 'Yellow',
                data: [{
                    color: 'yellow',
                    radius: '51%',
                    innerRadius: '36%',
                    y: #yellow_level#
                }]
            }]
        });

    </script> 
</div>
