<div class="eqLogic eqLogic-widget #eqType# allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
	<link rel="stylesheet" href="plugins/brohter/data/css/brother.template.css"/>
    <center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
    <div>
        <div style="width: 50%; display:inline-block;">
            <center>
                <figure style="width: 150px;margin-left: 5px;margin-top: 5px;margin-bottom: 5px;margin-right: 5px;">
                    <div id="ink-gauge-container"></div>                
                </figure>
            </center>
        </div>
        <div style="width: 50%; float: right;">
            <center>
            #brother_status#
            <br/>
            <div class="cmd cmd-widget history cursor tooltipstered pageCounter" data-type="info" data-subtype="numeric" data-template="tile" data-cmd_id="#brother_counter_id#" data-cmd_uid="#brother_counter_uid#" data-version="dashboard" data-eqlogic_id="#brother_counter_eqid#" title="Date de valeur : #brother_counter_valueDate#<br/>Date de collecte : #brother_counter_collectDate#">
                <div class="title ">
                  <div class="cmdName">Pages</div>
                </div>
                <div class="content-sm">
                  <span class="pull-right"></span>
                  <span class="pull-right state">#brother_counter#</span>
                </div>
                <div class="value hidden">
                  <div class="col-xs-12 center-block">
                    <span class="tooltips tooltipstered">#minHistoryValue#</span>|<span class="tooltips tooltipstered">#averageHistoryValue#</span>|<span class="tooltips tooltipstered">#maxHistoryValue#</span> <i class=""></i>
                  </div>
                </div>
            </div>
            </center>
        </div>
    </div>
    <script>
        if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}

        if ('#brother_counter_id#' == '') {
            $('.eqLogic[data-eqLogic_uid=#uid#] .pageCounter').remove();
        }
        

        jeedom.cmd.update['3850'] = function(_options) {
                    $('.cmd[data-cmd_id=3850]').attr('title', 'Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
                    $('.cmd[data-cmd_id=3850] .state').empty().append(_options.display_value)
                  }
                  jeedom.cmd.update['3850']({display_value: '6', valueDate: '2021-10-12 23:00:19', collectDate: '2022-02-10 21:00:46', alertLevel: 'none'})

        Highcharts.chart('ink-gauge-container', {
            credits: {enabled: false},
            exporting : {enabled: false},
            title: {text: null},
            tooltip: {enabled: false},

            chart: {
                type: 'solidgauge',
                backgroundColor: 'transaprent',
                height: '100%'
            },

            pane: {
                startAngle: 0,
                endAngle: 360,
                background: [
                { // Track for Black
                    outerRadius: '99%',
                    innerRadius: '84%',
                    backgroundColor: 'rgba(0,0,0,#black_bkg#)',
                    borderWidth: 0
                }, { // Track for Cyan
                    outerRadius: '83%',
                    innerRadius: '68%',
                    backgroundColor: 'rgba(0,0,0,#cyan_bkg#)',
                    borderWidth: 0
                }, { // Track for Magenta
                    outerRadius: '67%',
                    innerRadius: '52%',
                    backgroundColor: 'rgba(0,0,0,#magenta_bkg#)',
                    borderWidth: 0
                }, { // Track for Yellow
                    outerRadius: '51%',
                    innerRadius: '36%',
                    backgroundColor: 'rgba(0,0,0,#yellow_bkg#)',
                    borderWidth: 0
                }]
            },

            yAxis: {
                min: 0,
                max: 100,
                lineWidth: 0,
                tickPositions: []
            },

            plotOptions: {
                solidgauge: {
                    dataLabels: {
                        enabled: false
                    },
                    linecap: 'round',
                    stickyTracking: false,
                    rounded: true
                }
            },

            series: [{
                name: 'Black',
                data: [{
                    color: 'rgba(0,0,0,#black_visible#)',
                    radius: '99%',
                    innerRadius: '84%',
                    y: #black_level#
                }]
            }, {
                name: 'Cyan',
                data: [{
                    color: 'rgba(0,255,255,#cyan_visible#)',
                    radius: '83%',
                    innerRadius: '68%',
                    y: #cyan_level#
                }]
            }, {
                name: 'Magenta',
                data: [{
                    color: 'rgba(255,0,255,#magenta_visible#)',
                    radius: '67%',
                    innerRadius: '52%',
                    y: #magenta_level#
                }]
            }, {
                name: 'Yellow',
                data: [{
                    color: 'rgba(255,255,0,#yellow_visible#)',
                    radius: '51%',
                    innerRadius: '36%',
                    y: #yellow_level#
                }]
            }]
        });

    </script> 
</div>
